.profile {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Inter', 'Arial', sans-serif;
  margin: 40px 200px 50px 200px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    max-width: 282px;
    margin: 38px auto 36px;
  }
}